<% include partials/header %>

   
   
      <div class="container">
     
     <div class="row">
     <div class="col-lg-2 quiz-image1"></div>    
    <div class="col-lg-8"  align="center">
        
        
<% delet.forEach(function(del){ %> 
<h1 class = "delete-title"><%= del.title %></h1>
  
    <button class="btn btn-danger btn-sm delquiz" data-id=<%= del.title_id %>   >Delete Quiz</button>
 
   
   <% }) %>
   
   <div><a href="/quiz/allquiz" class="btn btn-dark" role="button">Go to Quizzes</a>
    <a href="/" class="btn btn-dark" role="button">Go to Home</a></div>
   <div><% include partials/footer %></div>
        
        
    </div>
    <div class="col-lg-2 quiz-image1"></div>
  </div>
  </div>
     
     

 

</div>