

 <div class="container">
     <% include partials/header %>
     <div class="row">
     <div class="col-lg-2 quiz-image1">
         
     </div>    
    <div class="col-lg-8" align="center">
        <div>
            
        <div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h1 class="display-4">Quiz Maker</h1>
    <p class="lead">Make Your Quiz with ease</p>
  </div>
</div>    
            
            
            
            
            
   <a class="btn btn-primary" href="/quiz/allquiz" role="button">Click to See Available Quizzes</a>         

</div>
<div>
     <a class="btn btn-primary" href="/quiz/new" role="button">Click to Create a Quiz</a> 
   
</div>

<div>
    <a class="btn btn-danger" href="/quiz/allquizdelete" role="button">Click to Delete Quizzes </a> 
    
</div>



<% include partials/footer %>
    </div>
    <div class="col-lg-2 quiz-image1"></div>
  </div>
     
     


 

<!-- Looping through results quotes sent from server.js from database  -->  
 

</div>